# Gradle
.gradle/
**/build/
!src/**/build/

# IntelliJ IDEA
.idea/
!*.iml
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/replstate.xml
.idea/**/sonarlint/
.idea/httpRequests
.idea/caches/build_file_checksums.ser

# IntelliJ IDEA optional 공유 설정
!.idea/codeStyles
!.idea/runConfigurations

# Java
*.class
*.log
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*

# Windows
Thumbs.db
ehthumbs.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk

# Gradle wrapper
!gradle-wrapper.jar
!gradle-wrapper.properties
gradle-app.setting
*.hprof

# Eclipse (혹시 쓸 경우 대비)
.project
.classpath
